@import "../../node_modules/normalize.css/normalize.css";

$mb-md: 400px;
$mb-lg: 700px;
$spacing-1-auto: 60px auto;

@import "colors.scss";
@import "cta.scss";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h4 {
  font-size: 2rem;
  margin: 0 0 2rem;
  text-align: center;
}

p {
  font-size: 1.6rem;
  margin-bottom: 6rem;
  text-align: center;
}

.container--top {
  padding-top: 8rem;
}

.container__padded {
  padding: 4rem 0rem;
  @media (min-width: $mb-lg) {
    padding: 8rem 0rem;
  }
}

.container__inner {
  max-width: 840px;
  margin: 0 auto;
  padding: 6rem 2rem;
}

.container__center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.brand-logo {
  width: 100%;
  max-width: 150px;
  @media (min-width: $mb-md) {
    max-width: 200px;
  }
}

.footer {
  span {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  a {
    color: #000000;
  }
}
