@import "../../node_modules/normalize.css/normalize.css";

$mb-md: 400px;
$mb-lg: 700px;

@import "colors.scss";
@import "cta.scss";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: $ivory;
}

$spacing-1-auto: 60px auto;

.container {
  max-width: 840px;
  margin: $spacing-1-auto;
  padding: 0 20px;
}

.container__center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.brand-logo {
  width: 100%;
  max-width: 150px;
  @media (min-width: $mb-md) {
    max-width: 200px;
  }
  @media (min-width: $mb-lg) {
    max-width: 300px;
  }
}
